.main_tokenomics {
    padding: 40px 10px;
}

.about_token h6{
    color: #95969C;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;


}

.about_token h4 {
    color: white ;
    font-family: 'Roboto', sans-serif;
text-transform: uppercase;

}